body{
    text-align: center;
}

.list{

height: 600px;
width: 300px;
background-color: blueviolet;

position: relative;
left: 620px;

}

.top{

    background-color: blueviolet;
    width: 300px;
   padding-bottom: 20px;

    position: relative;
    left: 620px;


}

.delete{
    margin-left: 5px;
}

.done{
    margin-left: 5px;
}
button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: darkgray;
}
